.columna {
    background-color: #214696;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 20px;
    border-radius: 18px;
    padding: 10px;
}

.custom-title {
    text-align: center;
    color: white;
}

.title-color {
    color: #6ab9f4 !important;
}

